src/main/mule/wwj-salesforce-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="wwj-salesforce-sapi-main">
        <http:listener config-ref="wwj-salesforce-sapi-httpListenerConfig" path="${api.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="wwj-salesforce-sapi-config" />
    </flow>
    <flow name="wwj-salesforce-sapi-console">
        <http:listener config-ref="wwj-salesforce-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="wwj-salesforce-sapi-config" />
    </flow>
    <flow name="put:\accounts:application\json:wwj-salesforce-sapi-config">
        <flow-ref doc:name="put-accounts-subflow" doc:id="e2fe41eb-d067-454e-ae9e-9a3cdd6db510" name="put-accounts-subflow" />
    </flow>
    <flow name="put:\submissions\contact:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    success: true,
    id: "003F000002HXqa1IAD",
    errors: []
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\contacts:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: "96c0accb-5fa5-4755-bef4-611b495b4759",
  message: "Successful"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\ekyc\questionnaire:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Success"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\account\kube:application\json:wwj-salesforce-sapi-config">
        <flow-ref doc:name="patch-accounts-subflow" doc:id="156a2f7a-b840-4543-ad76-db7abb29900b" name="patch-accounts-subflow" />
    </flow>
    <flow name="patch:\ekyc\account:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Success"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\accounts:application\json:wwj-salesforce-sapi-config">
        <flow-ref doc:name="patch-accounts-subflow" doc:id="f364f64d-d382-4ba6-ad67-72506872485c" name="patch-accounts-subflow" />
    </flow>
    <flow name="patch:\building:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiName: "test api",
  version: "v1",
  correlationId: "sddsa-121-231231-22ss",
  errorDescription: "This is test",
  errorCode: "Mule123",
  timestamp: "2021-02-28T16:41:41.090Z",
  errorType: "CLIENTERROR"
} ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\contact\kube:application\json:wwj-salesforce-sapi-config">
        <flow-ref doc:name="patch-contact-details-kube-subflow" doc:id="0eec6a7b-7083-4b76-95d3-54bd069df504" name="patch-contact-details-kube-subflow" />
    </flow>
    <flow name="patch:\opportunity\contract:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Success"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\contacts\marketing-consent\(uuid):application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="uuid">attributes.uriParams.'uuid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiName: "test api",
  version: "v1",
  correlationId: "sddsa-121-231231-22ss",
  errorDescription: "This is test",
  errorCode: "Mule123",
  timestamp: "2021-02-28T16:41:41.090Z",
  errorType: "CLIENTERROR"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\opportunity:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: null,
  items: [
    {
      exception: null,
      message: null,
      payload: {
        created: true,
        success: true,
        id: "a2C7j000000LLxDEAW",
        errors: []
      },
      id: "a2C7j000000LLxDEAW",
      statusCode: null,
      successful: true
    }, 
    {
      exception: null,
      message: null,
      payload: {
        created: true,
        success: true,
        id: "a2C7j000000LLxEEAW",
        errors: []
      },
      id: "a2C7j000000LLxEEAW",
      statusCode: null,
      successful: true
    }, 
    {
      exception: null,
      message: null,
      payload: {
        created: true,
        success: true,
        id: "a2C7j000000LLxFEAW",
        errors: []
      },
      id: "a2C7j000000LLxFEAW",
      statusCode: null,
      successful: true
    }
  ],
  successful: true
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\ekyc\status:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Success"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\tasks\(sfid):application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="sfid">attributes.uriParams.'sfid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiName: "test api",
  version: "v1",
  correlationId: "sddsa-121-231231-22ss",
  errorDescription: "This is test",
  errorCode: "Mule123",
  timestamp: "2021-02-28T16:41:41.090Z",
  errorType: "CLIENTERROR"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\account:wwj-salesforce-sapi-config">
        <flow-ref doc:name="get-account-search-subflow" doc:id="cc4f0fd0-ef18-472c-9568-7228364b3599" name="get-account-search-subflow" />
    </flow>
    <flow name="get:\account\kube:wwj-salesforce-sapi-config">
        <flow-ref doc:name="get-account-details-by-id-kube-subflow" doc:id="eb0613d9-df86-4a64-b942-d8837e016db8" name="get-account-details-by-id-kube-subflow" />
    </flow>
    <flow name="get:\available-tour-time-slots:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  doPostOutput: {
    success: true,
    timeSlots: [
      {
        territoryId: "0Hh5400000057xhCAA",
        startTime: "2022-02-22T08:30:00-0500",
        endTime: "2022-02-22T09:00:00-0500",
        serviceResourceId: "0Hn540000008gIOCAY",
        remainingAppointments: 1
      }, 
      {
        territoryId: "0Hh5400000057xhCAA",
        startTime: "2022-02-22T08:45:00-0500",
        endTime: "2022-02-22T09:15:00-0500",
        serviceResourceId: "0Hn540000008gIOCAY",
        remainingAppointments: 1
      }, 
      {
        territoryId: "0Hh5400000057xhCAA",
        startTime: "2022-02-22T09:00:00-0500",
        endTime: "2022-02-22T09:30:00-0500",
        serviceResourceId: "0Hn540000008gIOCAY",
        remainingAppointments: 1
      }, 
      {
        territoryId: "0Hh5400000057xhCAA",
        startTime: "2022-02-22T09:15:00-0500",
        endTime: "2022-02-22T09:45:00-0500",
        serviceResourceId: "0Hn540000008gIOCAY",
        remainingAppointments: 1
      }, 
      {
        territoryId: "0Hh5400000057xhCAA",
        startTime: "2022-02-22T09:30:00-0500",
        endTime: "2022-02-22T10:00:00-0500",
        serviceResourceId: "0Hn540000008gIOCAY",
        remainingAppointments: 1
      }, 
      {
        territoryId: "0Hh5400000057xhCAA",
        startTime: "2022-02-22T09:45:00-0500",
        endTime: "2022-02-22T10:15:00-0500",
        serviceResourceId: "0Hn540000008gIOCAY",
        remainingAppointments: 1
      }
    ],
    message: "Available time slots retrieved successfully"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\billingAccount:wwj-salesforce-sapi-config">
        <flow-ref doc:name="get-billing-account-by-querypram-uuid-flow" doc:id="be73f566-5011-49dc-89f8-7c313350f4fa" name="get-billing-account-by-queryparam-uuid-flow" />
    </flow>
    <flow name="get:\building:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Country__c: "USA",
    Time_Zone__c: "America/Los_Angeles",
    Postal_Code__c: "94111",
    UUID__c: "913826af-14e7-46d9-aa0d-9e0c21b4ece0",
    CurrencyIsoCode: "USD",
    Market__c: "a2VF0000002x1QdMAI",
    Name: "SF-Two Embarcadero Center",
    Address__c: "2 Embarcadero Center",
    City__c: "San Francisco",
    Building_ID__c: "SF11",
    Territory_Name__c: "California",
    Agency_Broker__c: "0030G00002coMnSQAU",
    Legal_Licensor_Name__c: "2 Embarcadero Center Tenant LLC",
    Community_Manager__c: "0030G00002euG79QAE",
    Id: "a000G00000OoOutQAF",
    Leasing_Director__c: "Ashley Green",
    State__c: "CA",
    Contract_Status__c: "active_contract",
    Email__c: "we-us-47926@wework.com",
    Location_No_City__c: "Two Embarcadero Center"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\contact:wwj-salesforce-sapi-config">
       <flow-ref doc:name="get-contact-search-subflow" doc:id="d990ae41-e7bb-46b7-9a59-ddcfea22b9c9" name="get-contact-search-subflow"/>
    </flow>
    <flow name="get:\contact\kube:wwj-salesforce-sapi-config">
		<flow-ref doc:name="get-contact-details-kube-subflow" doc:id="b45a4ae6-3f88-4dc2-969e-8f9da144562d" name="get-contact-details-kube-subflow"/>
    </flow>
    <flow name="get:\contacts:wwj-salesforce-sapi-config">
		<flow-ref doc:name="get-contact-search-subflow" doc:id="62f83c18-d4d4-4636-88be-b82ee69e3ecb" name="get-contact-search-subflow"/>
    </flow>
    <flow name="get:\opportunity\contract:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Name: "Regalii-Office Space-Sep 23, 2016",
  Building__c: "a00F000000MkxZzIAJ",
  Actual_Start_Date__c: "2016-10-01",
  Id: "0060G00000lmIYZQA2",
  Term__c: "12.0",
  AccountId: "0010G00002CE5bIQAT",
  ContactId: "0010G00002J9rQpQAJ"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\ekyc:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    ClientProspectID__c: 123,
    ClientOnboardingID__c: 123,
    Id: "0012I00002PCVSsQAP"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\getContractIdProposalId:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"\"'12125-17386','12125-17384','12125-17381','12125-17390'\"" as String {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\groups:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Id: "00G7b000002Wp1AEAS",
    DeveloperName: "CommunityTeam",
    Name: "Community Team"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\healthcheck:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Response Payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  applicationName: p('api.name'),
  applicationVersion: p('api.version'),
  environment: p('api.env'),
  status: "Running"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\opportunity\id:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Name: "WeWork Systems - Internal Account (DO NOT TOUCH)-BL-Atrium Tower-WW-Nov 13, 2023",
  Building_Legal_Name__c: "BL-Atrium Tower",
  Gross_Desks__c: 0,
  Net_Desks__c: 0,
  Net_TCV_Unweighted_Formula__c: 0,
  Gross_ACV__c: 0,
  Net_ACV_Unweighted__c: 0,
  Gross_TCV_Formula__c: 0,
  Gross_Term_TCV__c: 1,
  CloseDate: "2023-11-13",
  StageName: "Closed Won",
  Type__c: "WeWork",
  Referrer_Account__c: null,
  Segment__c: "Enterprise",
  Building__c: "aAd5x000000CarcCAC",
  RecordTypeId: "0125x000000YPitAAG",
  AccountId: "0015x00002Hqv2NAAR",
  Contract_Type__c: "New Business",
  Contract_Pdf__c: null,
  Id: "0052E00000KuAtxQAF"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\account\company\(company_uuid)\manager:wwj-salesforce-sapi-config">
        <flow-ref doc:name="get-account-company-manager-subflow" doc:id="c2b121d4-5330-4190-a295-9ee9d2c4dfbb" name="get-account-company-manager-subflow" />
    </flow>
    <flow name="get:\market:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiName: "test api",
  version: "v1",
  correlationId: "sddsa-121-231231-22ss",
  errorDescription: "This is test",
  errorCode: "Mule123",
  timestamp: "2021-02-28T16:41:41.090Z",
  errorType: "CLIENTERROR"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\opportunities:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Account: "0010G00002CEAo0QAH",
    Description: null,
    IsClosed: true,
    CloseDate: "2016-09-23",
    Name: "Regalii-Office Space-Sep 23, 2016",
    Lead_Source_Detail__c: "Referral Web",
    OwnerId: "005F0000005PlyUIAS",
    Primary_Contact__c: null,
    USF_Quantity__c: null,
    Opportunity_Creation_Source__c: null,
    Building__c: "a00F000000MkxZzIAJ",
    Source_Id__c: null,
    Actual_Start_Date__c: "2016-10-01",
    Original_Quantity__c: 10,
    StageName: "Closed Won",
    IsRenewalOpportunity__c: false,
    Primary_Member__c: "0030G00002Owk6qQAB",
    LeadSource: "Referral",
    CreatedDate: "2016-09-19T14:24:04.000Z",
    Main_Contact_ID__c: "0030G00002Owk6q",
    LeadSource_Sub_Type__c: "Member Referral",
    UOM__c: null,
    Id: "0060G00000lmIYZQA2",
    Interested_in_Number_of_Desks__c: 12
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\opportunity:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Account: "0010G00002CEAo0QAH",
    Description: null,
    IsClosed: true,
    CloseDate: "2016-09-23",
    Name: "Regalii-Office Space-Sep 23, 2016",
    Lead_Source_Detail__c: "Referral Web",
    OwnerId: "005F0000005PlyUIAS",
    Primary_Contact__c: null,
    USF_Quantity__c: null,
    Opportunity_Creation_Source__c: null,
    Building__c: "a00F000000MkxZzIAJ",
    Source_Id__c: null,
    Actual_Start_Date__c: "2016-10-01",
    Original_Quantity__c: 10,
    StageName: "Closed Won",
    IsRenewalOpportunity__c: false,
    Primary_Member__c: "0030G00002Owk6qQAB",
    LeadSource: "Referral",
    CreatedDate: "2016-09-19T14:24:04.000Z",
    Main_Contact_ID__c: "0030G00002Owk6q",
    LeadSource_Sub_Type__c: "Member Referral",
    UOM__c: null,
    Id: "0060G00000lmIYZQA2",
    Interested_in_Number_of_Desks__c: 12
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\opportunities\opportunityClosedWon:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Account: "0010G00002CEAo0QAH",
    CloseDate: "2016-09-23",
    Lead_Source_Detail__c: "Referral Web",
    StageName: "Closed Won",
    LeadSource: "Referral",
    LeadSource_Sub_Type__c: "Member Referral",
    Id: "0060G00000lmIYZQA2",
    GACLIENTID__c: "1502086417.1583233224",
    GATRACKID__c: "UA-4260314-5",
    Opportunity_Account_Name__c: "Georgetown University",
    utm_campaign__c: "l-nyc-branded_geo",
    utm_content__c: "c_exp",
    utm_medium__c: "cpc",
    utm_term__c: "wework",
    Portfolio_Name__c: "London",
    ROE_Segment__c: "Consumer",
    No_of_Desks_gross__c: "4.0",
    Product_Group__c: "WeWork",
    Number_of_Closed_Tour__c: "0.0",
    Gross_ACV__c: "0.0",
    Broker_Involvement_Indicated__c: "Yes",
    utm_campaign_id__c: "23842626064130285",
    Building_Name__c: "DEN-The Lab",
    Gross_TCV__c: "5856.12",
    TCV_Default_Currency__c: "USD",
    Clean_URL__c: "null",
    Number_of_Completed_Tour__c: "null",
    GASESSIONID__c: "null"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\recordType:wwj-salesforce-sapi-config">
        <flow-ref doc:name="get-recordtype-subflow" doc:id="0c6a007a-c450-4214-a97d-7852beb8c354" name="get-recordtype-subflow" />
    </flow>
    <flow name="get:\opportunities\(sfid)\referral:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="sfid">attributes.uriParams.'sfid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Id: "a2Y4Q000002yZVSUA2",
    "type": "Referral__c"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\reservable:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Office_Work_Station_Number__c: "07-101",
    Last_Move_In__c: null,
    Notes__c: null,
    Next_Move_In__c: null,
    Monthly_Price__c: "90340.0",
    UUID__c: "91a7fc75-4acf-4403-9e49-c1d98c464a48",
    "type": "Reservable__c",
    CurrencyIsoCode: "USD",
    Name: "Two Embarcadero Center - 07-101 (78)",
    Building__r: {
      UUID__c: "913826af-14e7-46d9-aa0d-9e0c21b4ece0",
      Id: null,
      "type": "Building__c"
    },
    Open_Date__c: "2017-02-01",
    Office_Capacity__c: "78.0",
    Physical_Desk_Count__c: "78.0",
    Status_Right_Now__c: "Unoccupied",
    Archived_On__c: null,
    Floor__c: "7",
    Next_Move_Out__c: null,
    Id: "a0E0G00000wpwQjUAI",
    Space_UUID__c: null,
    Status__c: "Available",
    Last_Move_Out__c: null,
    Office_Work_Station_Type__c: "Office"
  }, 
  {
    Office_Work_Station_Number__c: "HD111",
    Last_Move_In__c: "2017-04-26",
    Notes__c: null,
    Next_Move_In__c: null,
    Monthly_Price__c: "542.0",
    UUID__c: "37949f1e-39bd-44f0-acdb-e6e4d9145265",
    "type": "Reservable__c",
    CurrencyIsoCode: "USD",
    Name: "Two Embarcadero Center - HD111 (1)",
    Building__r: {
      UUID__c: "913826af-14e7-46d9-aa0d-9e0c21b4ece0",
      Id: null,
      "type": "Building__c"
    },
    Open_Date__c: "2017-02-01",
    Office_Capacity__c: "1.0",
    Physical_Desk_Count__c: null,
    Status_Right_Now__c: "Occupied",
    Archived_On__c: null,
    Floor__c: "8",
    Next_Move_Out__c: null,
    Id: "a0E0G00000wpwQkUAI",
    Space_UUID__c: "cde824e2-e6be-4cc1-b492-de7dc5355650",
    Status__c: "Unavailable",
    Last_Move_Out__c: null,
    Office_Work_Station_Type__c: "HotDesk"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\opportunity\reservation:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Name: "Regalii-Office Space-Sep 23, 2016",
  Building__c: "a00F000000MkxZzIAJ",
  Actual_Start_Date__c: "2016-10-01",
  Id: "0060G00000lmIYZQA2",
  Term__c: "12.0",
  AccountId: "0010G00002CE5bIQAT",
  ContactId: "0010G00002J9rQpQAJ"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\account\(accountid)\shortcode:wwj-salesforce-sapi-config">
        <flow-ref doc:name="get-account-shortcode-subflow" doc:id="3b6f21de-a1dc-41de-acf5-ba357fc8997c" name="get-account-shortcode-subflow" />
    </flow>
    <flow name="get:\tasks:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiName: "test api",
  version: "v1",
  correlationId: "sddsa-121-231231-22ss",
  errorDescription: "This is test",
  errorCode: "Mule123",
  timestamp: "2021-02-28T16:41:41.090Z",
  errorType: "CLIENTERROR"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\tours:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Status: "Scheduled",
    Owner: {
      FirstName: "Nataliia",
      Id: null,
      LastName: "Parolia",
      "type": "Name"
    },
    Email: "toursmoketest@tester.com",
    Lead_Source__c: null,
    Tour_Notes__c: null,
    SchedStartTime: "2022-03-18T14:00:00.000Z",
    Contact: {
      FirstName: "Tour-smoke",
      Account_Name__c: "Best Rodeo Ever Show User ????",
      Id: null,
      LastName: "Test",
      "type": "Contact"
    },
    SchedEndTime: "2022-03-18T14:30:00.000Z",
    Lead_Source_Detail__c: null,
    Phone: null,
    Lead_Source_Subtype__c: null,
    Id: "08p540000000iriAAA",
    Interested_in_Number_of_Desks__c: "100.0"
  }, 
  {
    Status: "Scheduled",
    Owner: {
      FirstName: "Nataliia",
      Id: null,
      LastName: "Parolia",
      "type": "Name"
    },
    Email: "toursmoketest@tester.com",
    Lead_Source__c: null,
    Tour_Notes__c: null,
    SchedStartTime: "2022-03-18T13:15:00.000Z",
    Contact: {
      FirstName: "Tour-smoke",
      Account_Name__c: "Best Rodeo Ever Show User ????",
      Id: null,
      LastName: "Test",
      "type": "Contact"
    }
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\user:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Name: "Kali Cardoza",
  Email: "kali.cardoza@wework.com.invalid"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\opportunity\(membershipAgreementUUID):wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="membershipAgreementUUID">attributes.uriParams.'membershipAgreementUUID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Id: "0060G00000lmIYZQA2"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\tasks\(sfid):wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="sfid">attributes.uriParams.'sfid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\tasks\(sfid):wwj-salesforce-sapi-config" />
    </flow>
    <flow name="get:\accounts\(sfid):wwj-salesforce-sapi-config">
        <flow-ref doc:name="get-accounts-by-sfid-subflow" doc:id="7c829119-c4d1-459c-85a6-1115a52ee067" name="get-accounts-by-sfid-subflow" />
    </flow>
    <flow name="get:\opportunities\(sfid):wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="sfid">attributes.uriParams.'sfid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Contract_UUID__c: null,
    Account: {
      Owner: {
        Id: null,
        "type": "User",
        Name: "QA Inside Sales (Sales rep)"
      },
      Id: null,
      "type": "Account",
      Name: "Best Western Inn Convention:Best Western Inn Convention"
    },
    Owner: {
      Id: null,
      "type": "User",
      Name: "QA WW Support & Op"
    },
    AccountId: "0015400000mk0A6AAI",
    "type": "Opportunity",
    Referrer__c: "0035400000krStXAAU",
    CloseDate: "2022-02-18",
    Name: "Best Western Inn Convention:Best Western Inn Convention-100 University Ave-Feb 18, 2022",
    Building__r: {
      Region_Name__c: "India",
      Building_ID__c: "c32ad889-9769-42e8-b295-ef5ac6b2ea37",
      Id: null,
      "type": "Building__c"
    },
    Territory_Name__c: "Canada",
    RecordType: {
      Id: null,
      "type": "RecordType",
      DeveloperName: "New_Business",
      Name: "New Business"
    },
    Referrer_Account__r: {
      Id: null,
      "type": "Account",
      Name: "Account22"
    },
    Net_TCV__c: 29726,
    Referrer__r: {
      Owner: {
        Email: "nataliia.parolia@wework.com",
        Id: null,
        "type": "User",
        Name: "Nataliia Parolia"
      },
      Email: "contacttest19@test.com",
      Type__c: "Broker",
      Id: null,
      "type": "Contact",
      Name: "Contact Test19"
    },
    Locations_Interested__c: "100 University Ave;CAN-Yuexiu Financial Building",
    Contract_Stage__c: null,
    Actual_Start_Date__c: "2022-02-24",
    StageName: "Closed Won",
    Billing_Account__r: null,
    Referrer_Account__c: "0015400000hbAVCAA2",
    Primary_Member__c: "0035400000mXQftAAG",
    Net_Desks__c: 89,
    Term__c: 1,
    CurrencyIsoCode: "CAD",
    Contract_Pdf__c: null,
    Building_uuid__c: "21abf987-1328-41cf-a45c-cbc5829cacfd",
    Id: "0065400000FwuvlAAB",
    Interested_in_Number_of_Desks__c: 89,
    Primary_Member__r: {
      Email: "leads18@invalid.com",
      Id: null,
      "type": "Contact",
      Name: "Lead S18"
    },
    IsRenewalOpportunity__c: false
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\tours\(tour_id):wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="tour_id">attributes.uriParams.'tour_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Status: "Cancelled",
    Building_Id__c: "a3u54000000GXqDAAW",
    SchedStartTime: "2022-02-08T18:00:00.000Z",
    SchedEndTime: "2022-02-08T18:30:00.000Z",
    Id: "08p540000009ynEAAQ",
    "type": "ServiceAppointment"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\relatedContact\(uuid):wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="uuid">attributes.uriParams.'uuid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  firstName: "John",
  lastName: "Doe",
  email: "johndoe@test.com"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\building\active:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiName: "test api",
  version: "v1",
  correlationId: "sddsa-121-231231-22ss",
  errorDescription: "This is test",
  errorCode: "Mule123",
  timestamp: "2021-02-28T16:41:41.090Z",
  errorType: "CLIENTERROR"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\building\tourable:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    Id: "USA",
    UUID__c: "913826af-14e7-46d9-aa0d-9e0c21b4ece0",
    Is_Tourable__c: true,
    Building_Status__c: "Opened",
    Contract_Status__c: "active_contract"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\billingAccount\(uuid):wwj-salesforce-sapi-config">
        <flow-ref doc:name="get-billing-account-by-uriparam-uuid-flow" doc:id="702e974c-017b-4cd3-b67c-909c244ed524" name="get-billing-account-by-uriparam-uuid-flow" />
    </flow>
    <flow name="get:\billingAccount\(company_uuid):wwj-salesforce-sapi-config">
        <flow-ref doc:name="get-billing-account-by-companyuuid" doc:id="f9426a80-a2ad-4b02-8721-9c6286b9c6bd" name="get-billing-account-by-companyuuid" />
    </flow>
    <flow name="get:\billingAccount\contractEvent\(company_uuid):wwj-salesforce-sapi-config">
        <flow-ref doc:name="get-billing-account-by-companyuuid" doc:id="36984bde-a2da-4141-bc39-f7f52da707a0" name="get-billing-account-by-companyuuid" />
    </flow>
    <flow name="get:\building\building_id:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Territory_Name__c: "Northern & Central Europe",
  Portfolio_Name__c: "Berlin"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\account:application\json:wwj-salesforce-sapi-config">
        <flow-ref doc:name="post-account-create-subflow" doc:id="5ca9dfd0-70dd-4ae0-b168-8dac83ef6400" name="post-account-create-subflow" />
    </flow>
    <flow name="post:\amendmentReservation:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    created: false,
    success: true,
    id: "a457j000000I8DaAAK",
    errors: []
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\billingAccount:application\json:wwj-salesforce-sapi-config">
        <flow-ref doc:name="upsert-billing-account-subflow" doc:id="4e05a23a-27e2-4893-9202-26fa5026681d" name="upsert-billing-account-subflow" />
    </flow>
    <flow name="post:\building:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiName: "test api",
  version: "v1",
  correlationId: "sddsa-121-231231-22ss",
  errorDescription: "This is test",
  errorCode: "Mule123",
  timestamp: "2021-02-28T16:41:41.090Z",
  errorType: "CLIENTERROR"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\tours\(tour_id)\cancel:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="tour_id">attributes.uriParams.'tour_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: null,
  items: [
    {
      exception: null,
      message: null,
      payload: {
        success: true,
        id: "08p540000009ynEAAQ",
        errors: []
      },
      id: "08p540000009ynEAAQ",
      statusCode: null,
      successful: true
    }
  ],
  successful: true
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\cancelReservation:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    created: false,
    success: true,
    id: "a457j000000I8DaAAK",
    errors: []
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\contact:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Email: "benmontgdsdsery@thisisfake.com",
  LeadSource: "test",
  FirstName: "Ben",
  Phone: "1276837",
  Title: "test",
  LeadSource_Sub_Type__c: "test",
  Id: "0030300000L7lY4AAJ",
  LastName: "Montgomery"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\submissions\contact:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  doPostOutput: {
    result: {
      contact_uuid: "095c32e0-a83c-0134-f10c-1a6498662980",
      contact_sfid: "003F000002HXqa1IAD",
      billing_account_sfid: "a450G000000ZQ1MQAW",
      account_sfid: "0010G00002JdheAQAR"
    },
    success: true,
    message: "Person Processed!"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\contractEvent:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    created: false,
    success: true,
    id: "a457j000000I8DaAAK",
    errors: []
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\submissions\lead:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Submission created!",
  id: "781280c0-96ed-4277-a93f-d7152a648e3e"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\market:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiName: "test api",
  version: "v1",
  correlationId: "sddsa-121-231231-22ss",
  errorDescription: "This is test",
  errorCode: "Mule123",
  timestamp: "2021-02-28T16:41:41.090Z",
  errorType: "CLIENTERROR"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\member-insights:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: null,
  items: [
    {
      exception: null,
      message: null,
      payload: {
        created: true,
        success: true,
        id: "a2C7j000000LLxDEAW",
        errors: []
      },
      id: "a2C7j000000LLxDEAW",
      statusCode: null,
      successful: true
    }, 
    {
      exception: null,
      message: null,
      payload: {
        created: true,
        success: true,
        id: "a2C7j000000LLxEEAW",
        errors: []
      },
      id: "a2C7j000000LLxEEAW",
      statusCode: null,
      successful: true
    }, 
    {
      exception: null,
      message: null,
      payload: {
        created: true,
        success: true,
        id: "a2C7j000000LLxFEAW",
        errors: []
      },
      id: "a2C7j000000LLxFEAW",
      statusCode: null,
      successful: true
    }
  ],
  successful: true
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\moveInReservation:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    created: false,
    success: true,
    id: "a457j000000I8DaAAK",
    errors: []
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\moveOutReservation:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    created: false,
    success: true,
    id: "a457j000000I8DaAAK",
    errors: []
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\opportunity:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiName: "test api",
  version: "v1",
  correlationId: "sddsa-121-231231-22ss",
  errorDescription: "This is test",
  errorCode: "Mule123",
  timestamp: "2021-02-28T16:41:41.090Z",
  errorType: "CLIENTERROR"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\submissions\referral:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  doPostOutput: {
    success: true,
    lead_sfid: "00Q7b00000AIO57EAH",
    message: "Referral processed!",
    referral_sfid: "a2Y7b000000ga7YEAQ"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\tours\(tour_id)\reschedule:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="tour_id">attributes.uriParams.'tour_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: {
    assignedResourceIds: [
      "03r540000009Gr8AAE"
    ],
    serviceAppointmentId: "08p540000009yj2AAA"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\salesrecord:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiName: "test api",
  version: "v1",
  correlationId: "sddsa-121-231231-22ss",
  errorDescription: "This is test",
  errorCode: "Mule123",
  timestamp: "2021-02-28T16:41:41.090Z",
  errorType: "CLIENTERROR"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\submitIdRailsContact:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  submitContactOutput: {
    success: "true",
    message: "Contact updated successfully with ID: 003DK00000brvrJYAQ",
    "New Business Account ID": "001DK00000xwXrSYAU"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\tasks:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiName: "test api",
  version: "v1",
  correlationId: "sddsa-121-231231-22ss",
  errorDescription: "This is test",
  errorCode: "Mule123",
  timestamp: "2021-02-28T16:41:41.090Z",
  errorType: "CLIENTERROR"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\tours:application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: {
    assignedResourceIds: [
      "03r540000009Gr8AAE"
    ],
    serviceAppointmentId: "08p540000009yj2AAA"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\opportunity\(membershipAgreementUUID):application\json:wwj-salesforce-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="membershipAgreementUUID">attributes.uriParams.'membershipAgreementUUID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  apiName: "test api",
  version: "v1",
  correlationId: "sddsa-121-231231-22ss",
  errorDescription: "This is test",
  errorCode: "Mule123",
  timestamp: "2021-02-28T16:41:41.090Z",
  errorType: "CLIENTERROR"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
